.gl-banner{
	background-image: url(../images/bg-title-page-02.jpg);
}
.banner-1{
	background-image: url(./images/bn1.jpg);
}
.banner-2{
	background-image: url(../images/hmm.jpg);
}
.banner-3{
	background-image: url(../images/IMG_3363.jpg);
}
.pict-parallax-1{
	background-image: url(../images/par1.jpg);
}
.banner-menu{
	background-image: url(../images/IMG_3421.jpg);
}
.gambar-about{
	background-image: url(../images/tentangresto.png);
}
